* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #E7FAFE;
}

.logoHeader {
    height: 45px;
}

.botaoPedidoHeader {
    background-color: #F5C661;
    padding: 9px;
    color: black;
}


/* header{
    padding: 9px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #7A247D;
} */

.lupaNaPesquisa {
    padding: 9px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #7A247D;
}

.lupaNaPesquisa img {
    height: 30px;
}

.lupaNaPesquisa input {
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-bottom: 2px solid #F5C661;
    background-color: #7A247D;
    outline: none;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: #7A247D;
    padding: 9px;
}

.parte1Header {
    padding: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.parte2Header {
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagensHeader {
    height: 40px;
}


/* Carrinho */

.containerCarrinho {
    background: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 15;
}

.apareceCarrinho {
    padding: 2rem;
    background: #F5C661;
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 60%;
    z-index: 20;
    opacity: 2;
    overflow-y: scroll;
}

#tituloCarrinho {
    padding: 1rem;
    font-size: 32px;
    font-weight: 400;
}

hr {
    border: 1px solid #64066D;
}

#fechar {
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 90%;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.hidden {
    display: none;
}

.comprarCarrinho {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 24px;
    background: #64066D;
    position: relative;
    left: 50%;
}

.comprarCarrinho1 {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 24px;
    background: #64066D;
}

.comprarCarrinho1:visited {
    color: white;
}

#mostrarTotal {
    font-size: 18px;
}