.parteDeBaixoHome {
    display: flex;
    flex-direction: row;
    background-color: #7A247D;
    padding: 40px;
    justify-content: space-around;
}

.parte1Home {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: snow;
}

.linhas {
    font-size: 10PX;
    display: flex;
    flex-direction: row;
}

.tituloHome {
    color: snow;
    font-size: 30px;
    text-align: center;
    background-color: #7A247D;
    padding: 20px;
}

.homeBaixo {
    width: 100%;
}

.imagensHome {
    height: 20px;
}

.parteDeCimaHome {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #7A247D;
    padding: 70px;
}

.parteDeCimaHome h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #F5C661;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.parteDeCimaHome h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #FAFAFA;
}

.meioHome {
    background-color: #E7FAFE;
    margin: 60px;
    margin-top: 0px;
}

.tituloMeioHome {
    text-align: center;
    padding: 2rem;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #333333;
}

.home {
    background-color: #E7FAFE;
}

.categoriasHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#imagensCategoriaCasa {
    width: 30vh;
}

.tituloTiposPratos {
    padding: 15px;
    padding-left: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.pratosDiaHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pratosDiaHome img {
    width: 30vh;
    height: 30vh;
}

.adicionar-carrinho img {
    background-color: #F5C661;
    padding: 4px;
    width: 30px;
    height: 30px;
}

.container-infos {
    position: relative;
    top: -100px;
    color: snow;
    padding: 10px;
    padding-left: 6px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #6A066D, transparent);
}

.pratosDiaHome1 {
    display: flex;
    flex-direction: column;
    border-top: -2em;
}

.botaoEPreco {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textoPratosDia {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.textoDia {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    padding-bottom: 15px;
}

.linkCategoriasHome {
    position: relative;
    top: -43px;
    border-top: -10em;
    padding: 0.2em;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: #E5E5E5;
    background: linear-gradient(to right, #6A066D, transparent);
}

.linkCategoriasHome a {
    color: snow;
    text-decoration: none;
}

.linkCategoriasHome a:visited {
    color: snow;
}
.botaoLoja{
    background-color: #F5C661;
    text-align: center;
    padding: 10px;
    width: 190px;
    height: 15px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.botaoLoja2:visited{
    color: black;
}
.botaoLoja1{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
}