.contaMenu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #F5C661;
    list-style-type: none;
}

.contaMenu ul li {
    font-size: 24px;
    padding: 1rem;
    text-transform: uppercase;
}

.contaMenu ul li a:visited {}

.contaMenu ul li a:hover {
    color: white;
}

.contaMenu ul li a {
    text-decoration: none;
    color: black;
}

.woocommerce-account div.woocommerce-MyAccount-content {
    width: 80%;
    margin: 0 auto;
    float: none;
}

.woocommerce-account div.woocommerce-MyAccount-content p,
.woocommerce-account div.woocommerce-MyAccount-content p strong,
div.woocommerce-MyAccount-content p a {
    font-size: 20px;
    text-align: justify;
    color: black;
    font-weight: normal;
    margin: 1rem 0;
}

div.woocommerce-MyAccount-content p a:visited {
    color: black;
}

form#edit-account {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem auto 3rem auto;
}

form#edit-account .form-linha-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form#edit-account .form-linha-1 .form-nomes {
    display: flex;
    flex-direction: column;
    width: 45%;
}

form#edit-account .form-linha-1 .form-nomes label {
    font-size: 20px;
    margin: 1rem 0;
}

form#edit-account .form-linha-1 .form-nomes input {
    border: 0;
    border-bottom: 2px solid #6A066D;
    background: #E7FAFE;
    outline: 0;
}

form#edit-account .form-linha-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form#edit-account .form-linha-2 label {
    font-size: 20px;
    margin: 1rem 0;
}

form#edit-account .form-linha-2 input {
    border: 0;
    border-bottom: 2px solid #6A066D;
    background: #E7FAFE;
    outline: 0;
}

form#edit-account .form-submit {
    margin: 0 auto;
    margin-top: 2rem;
}

form#edit-account .form-submit button {
    background: #6A066D;
    color: snow;
    font-weight: normal;
    padding: 0.5rem 1.2rem;
}

.woocommerce .woocommerce-MyAccount-content {
    padding: 2rem;
}